<div class="w3-center w3-top">
  
  <div class="w3-bar" id="myNavbar">
    <a href="../welcome/index" class="w3-bar-item w3-button "> Intro</a>
    <a href="../page_two/story" class="w3-bar-item w3-button "> Story</a>
    <a href="../page_three/People" class="w3-bar-item w3-button "> People</a>
    <a href="#p4" class="w3-bar-item w3-button "> Geography</a>
    <a href="#p5" class="w3-bar-item w3-button "> Values</a>
    <a href="#p6" class="w3-bar-item w3-button "> Demographics</a>
    <a href="#p7" class="w3-bar-item w3-button "> Trade</a>
    <a href="#p8" class="w3-bar-item w3-button "> Sports</a>
    <a href="#p10" class="w3-bar-item w3-button "> Food</a>
    <a href="#p11" class="w3-bar-item w3-button "> Sights</a>
    <a href="#p12" class="w3-bar-item w3-button "> Neighbors</a>
    <a href="#p12" class="w3-bar-item w3-button "> Event Feed</a>
   
  </div>
  
 

</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-dark-grey w3-xlarge w3-wide w3-animate-opacity"> Denmark </span>
    <br><img src='https://images.pond5.com/denmark-flag-video-waving-wind-footage-105876465_iconl.jpeg' width='216px' height='81px' alt='dflag'/>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">Some Background</h3>
  <p>Denmark is a small Nordic country.  Other countries that fall into this category are Finland, Iceland, Norway, Sweden and a few other more recently established.  Denmark and other Nordic countries share a common history in that of the Vikings.  The Viking Age began around the year 800 AD and lasted for over 250 years.  Denmark and the Nordic countries were the first and primary nations established by the Vikings.  Countries like Ireland, England, Scotland, Wales, Iceland, and Canada were also impacted. </p>
      
  <h3 class="w3-center">
    <%= image_tag("story1.jfif", size: "400x300", alt: "Historical portrait") %>
    <%= image_tag("story2.jfif", size: "400x300", alt: "Historical portrait2") %>
  </div>
  

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    James Wang
  </div>
  <div class="w3-quarter w3-section">
    Prof. Lachter
  </div>
  <div class="w3-quarter w3-section">
    ET710 SP21
  </div>    
  <div class="w3-quarter w3-section">
    May 2021
  </div>
</div>
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    Adapted for:
  </div>
  <div class="w3-quarter w3-section">
    Prof. Lawrence
  </div>
  <div class="w3-quarter w3-section">
    ET718 FA21
  </div>    
  <div class="w3-quarter w3-section">
    Nov 2021
  </div>
</div>